:root {
    --bs-blue: #0d6efd;
    --bs-indigo: hsla(263, 85%, 61%, 0.893);
    --bs-purple: hsla(263, 85%, 40%, 0.893);
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #f1d143ca;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #a3e94ea3;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc10782;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body {
    font-family: "Playwrite GB S";
}
.accordion-button {
    background-color: var(--bs-gray);
    color: white;
}


.accordion-body {
    background-color: var(--bs-gray-dark);
    color: white;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: #343a40;
    padding: 20px;
    color: white;
    overflow-y: auto; /* Permite scroll interno si hay mucho contenido */
}

.footer {
    margin-left: 250px;
}
.image-homepage::before{
    content: "";
    background-image: url("./assets/pioXII.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    width: 85%;
    position: absolute;
    height: 40rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place behind the content */
}
.image-homepage {
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-pills {
    width: 250px;
}
.container-section {
    margin-left: 40px;
}

.login-layout {
    width: 40%;
}


#nav-dropdown {
    color: white;
}
